
.myNav{
  margin: 0 auto;
}
#nav-menu{
  font-family: 'Gothic A1';
  text-decoration: none;
  color:  #FFFFFF;
  padding: 10px ;
  white-space: nowrap;

}
.main-nav{
  width: 100%;
  background: #29A2D6;
  padding-left: 60px;
}

.logo-tittle{
  text-decoration: none;
  font-family: 'Sacramento', cursive;
  color:  #FFFFFF;
}

.logo-tittle:hover{
  color: #203A43; 
  font-family: 'Sacramento', cursive;
  font-weight: 600;
}
/* .logoImage{
    width: 120px;
    height: 80px
} */

/* .btn-home{
  background: #2B7FAC; 
  background: linear-gradient(to right,#203A43,#2B7FAC, #203A43); 
  color: #FFFFFF;
  border-radius: 0px;
  border-color: #29A2D6;
  margin-right: 150px;
} */
.nav-btn{
  color: #FFFFFF;
  border: 1px solid #2B7FAC;
  border-radius: 1rem;
  background: linear-gradient(to right,#203A43,#2B7FAC, #203A43); 
  margin-right: 20rem;
}
