#dash-dash{
    min-height: 70vh;
    overflow: hidden;
  }
  
  #left-dash{
    background: #2B7FAC;
    /* max-width: 360px; */ 
    
  }
  
  #right-dash{
    background-color: rgb(230, 228, 228);
    
  }
  .dash-h{
    text-align: center;
    color: #2B7FAC;
    font-size: 30px;
    font-weight: 600;
    margin-top: 3rem;
  }
  
  /* .card-content{
    gap: 0;
    margin-top: 3rem;
    border-width: 8px;
    
  }
  .card{
    width: 10rem;
    border-radius: 0px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 4px 4px 8px 8px rgba(0, 0, 0, 0.25);
  }
  .card-text{
    font-size: 20px;
    font-weight: 400;
    width: 100%;
  }
  .card-title{
    font-size: 30;
    text-align: center;
    
  } */
  .loguser{
    display: flex;
    margin-left: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
    color: #FFFFFF;
  }
  .dash-link {
    margin-left: 0.75rem;
    margin-bottom: 1rem;
    text-decoration: none;
    color: #FFFFFF;
    
  }
  
  .dash-link:hover {
    color: #CCFFFF;
  }
  
  .dash-item{
    display: flex;
    margin-top: 1rem;
    margin-left: 1rem;
    color: #FFFFFF;
  }